version: "3"

services:
  nginx:
    image: nginx
    volumes:
      - ./_nginx.conf:/etc/nginx/nginx.conf
      - /etc/letsencrypt:/etc/letsencrypt
      - static_files:/home/bandodok/static/
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - app

  app:
    image: bandodok/sport_parser_app:${TAG}
    env_file:
      - .env
    volumes:
      - static_files:/home/bandodok/sport_parser/collected_static/static/
    depends_on:
      - db
      - redis
    command: >
      bash -c "
        while ! nc -z db 5432;
        do
          sleep 1;
        done;
        echo Connected!;
        python manage.py migrate;
        python manage.py collectstatic -c --no-input;
        python init_db.py;
        python -m gunicorn --workers 3 --timeout 2000 --bind 0.0.0.0:8000 sport_parser.asgi -k uvicorn.workers.UvicornWorker;
      "

  ws:
    image: bandodok/sport_parser_app
    env_file:
      - .env
    depends_on:
      - app
      - db
      - redis
    command: >
      bash -c "
        while ! nc -z db 5432;
        do
          sleep 1;
        done;
        echo Connected!;
        python -m daphne sport_parser.asgi:application -b 0.0.0.0 -p 8080;
      "

  db:
    image: postgres:alpine
    environment:
      POSTGRES_USER: $${DB_USER}
      POSTGRES_PASSWORD: $${DB_PASSWORD}
      POSTGRES_DB: $${DB_NAME}
    volumes:
      - ../postgresql/data:/var/lib/postgresql/data
      - ../_init.sql:/docker-entrypoint-initdb.d/init.sql

  redis:
    image: redis:alpine

  celery:
    image: bandodok/sport_parser_app
    env_file:
      - .env
    depends_on:
      - redis
      - app
      - db
    command: >
      bash -c "
        while ! nc -z db 5432;
        do
          sleep 1;
        done;
        echo Connected!;
        python -m celery -A sport_parser worker -l info --concurrency=1;
      "

  celery-beat:
    image: bandodok/sport_parser_app
    env_file:
      - .env
    depends_on:
      - redis
      - app
      - db
    command: >
      bash -c "
        while ! nc -z app 8000;
        do
          sleep 1;
        done;
        echo Connected!;
        python -m celery -A sport_parser beat -l info;
      "

volumes:
  database_data:
  static_files: