@font-face{
    font-family: Montserrat;
    src: url(/static/fonts/Montserrat-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: Montserrat;
    src: url(/static/fonts/Montserrat-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: avalorsregular;
    src: url(/static/fonts/avalors-webfont.woff2) format('woff2'),
         url(/static/fonts/avalors-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    color: #847c7c;
}

@keyframes onLoadAppear {
  0% {
    transform: translateY(3%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

header {
    width: 1550px;
    height: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px auto 0;
}

#leftHeaderBlock {
    margin-left: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#rightHeaderBlock {
    margin-right: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

h4 {
    padding: 50px 30px 0 30px;
    margin: 30px 100px 0 0;
    font-family: Montserrat, sans-serif;
    color: white;
    font-variant: small-caps;
    font-size: 45px;
    white-space: nowrap;
}

nav {
    z-index: 1;
    width: 100px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 0;
    font-family: Montserrat, sans-serif;
    white-space: nowrap;
}

nav a {
    padding: 5px;
    color: #d9d2d2;
}

nav a:hover {
    padding: 4px;
    border: solid 1px #FFFFFF33;
}

.background {
    z-index: -2;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #162447 repeat;

}

.background_image {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 11%;
    min-width: 1670px;
    max-height: 900px;
    user-select: none;
}

.logo {
    width: 120px;
    height: 100px;
    margin-left: auto;
    user-select: none;
}

header a {
    margin-left: auto;
}

.leagueLogo {
    height: 180px;
    filter: saturate(80%);
    margin-right: auto;
    user-select: none;
}

a {
    text-decoration: none
}

li {
    list-style-type: none;
    border: solid 1px #FFFFFF33;

    color: #d9d2d2;
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-size: 16px;

    padding: 3px;
    width: 50px;
    margin-left: auto;
    margin-top: 2px;
    transition: background-color 0.2s;
}

li:hover {
    background-color: #47639f;
    cursor: pointer;
    transition: none;
}

h3 {
    animation: 1s ease-out 0s 1 onLoadAppear;

    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 29px;
    margin-bottom: 10px;

    color: #FFFFFF;
}

.update {
    font-family: Montserrat, sans-serif;
    margin: 5px;
}

.wrapper {
    width: 100%;
    min-width: 1650px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.container {
    flex-shrink: 1;
    margin-right: 10px;
    margin-left: 10px;
}

.sidebarLeft {
    flex-shrink: 1;
    width: 130px;
    z-index: 1;
    margin-top: 80px;
    margin-right: 10px;

    text-align: right;
}

.sidebarLeft p {
    font-family: Montserrat, sans-serif;
    padding-left: 30px;
}


.sidebarRight {
    flex-shrink: 1;
    width: 130px;
    z-index: 1;
    margin-top: 80px;
    margin-left: 10px;

    text-align: left;
}

.sidebarRight p {
    font-family: Montserrat, sans-serif;
}

.sidebarRight ul {
    text-align: left;
    padding: 0;
}

.sidebarRight li {
    margin-left: 0;
}


/* stats table */

table {
    animation: 0.5s ease-out 0s 1 onLoadAppear;
    backdrop-filter: blur(5px);

    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
  background-color: rgba(255, 255, 255, 0.2);
  color: #d9d2d2;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    border: solid 1px #FFFFFF33;
    padding: 3px;
    text-align: right;
}

.urlToTeam:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: rgba(213, 37, 37, 0.3);
}

th {
  text-align: center;
  background-color: #47639f;
    cursor: pointer;
}

tr {
    transition: background-color 0.2s;
}

tr:hover {
    background-color: rgba(218, 5, 5, 0.3);
    transition: none;
}

th.sorted[data-order="1"],
th.sorted[data-order="-1"] {
    background-color: #2651a2;
}


/* footer */

footer {
    display: flex;
    width: 1650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-color: #FFFFFF33;
    border-top-style: solid;
    border-width: 1px;
}

footer div {
    margin: auto;
    padding: 10px
}

footer div a {
    padding: 10px 30px;
}

/* match frames */

.lastMatches {
    width: 1400px;
    min-width: 1364px;
    display: flex;
    justify-content: space-between;
}


.lastMatches .match {
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border-color: #FFFFFF33;
    border-style: solid;
    border-width: 1px;
    margin: 10px 15px;
    text-align: center;
    display: flex;
    justify-content: center;

    width: 650px;
}

.match a {
    color: #FFFFFF;
    transition: color 0.2s;
}

.match:hover {
    background-color: rgba(132, 169, 255, 0.42);
    transition: background-color 0.2s;
}

.match a:hover {
    color: #6393ff;
    transition: color 0.2s;
}

.match .team_left {
    color: #FFFFFF;
    display: flex;
    width: 100%;
    margin-right: auto;
    text-align: right;
    align-self: center;
    align-items: center;
}

.match .team_left #teamLeft {
    margin-left: auto;
    text-align: right;
    padding: 0;
    margin-right: 0;
}

.match .team_right {
    color: #FFFFFF;
    display: flex;
    width: 100%;
    margin-left: auto;
    text-align: left;
    align-self: center;
    align-items: center;
}

.match .team_right #teamRight {
    margin-right: auto;
    text-align: left;
    padding: 0;
    margin-left: 0;
}

.match .match_info {
    width: 380px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.match .last_logo {
    width: 100px;
    height: 100px;
    margin: 0 10px;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.68));
}

.match_info p {
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
}

p.last_score {
    color: #FFFFFF;
    font-size: 25px;
    font-family: avalorsregular, sans-serif;
    padding-bottom: 0;
    margin-top: 15px;
    margin-bottom: 5px;
}

.last_score_extra {
    color: #FFFFFF;
    font-size: 13px;
    word-spacing: 0.5em;
    white-space: nowrap;
}