h3 {
    margin-left: 30px;
    margin-top: 15px;
}


.sidebarRight li {
    width: 110px;
    user-select: none;
}

.lastMatches {
    justify-content: center;
    width: 1400px;
}

.lastMatches .team1 {
    display: flex;
    flex-wrap: wrap;
    width: 1400px;
    justify-content: center;
}
