@font-face{
    font-family: 'Montserrat', sans-serif;
    src: url('/static/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: 'Montserrat', sans-serif;
    src: url('/static/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avalorsregular', sans-serif;
    src: url('/static/fonts/avalors-webfont.woff2') format('woff2'),
         url('/static/fonts/avalors-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@keyframes onLoadAppear {
  0% {
    transform: translateY(5%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #162447;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;

}

.background_image {
    position: absolute;
    width: 2250px;

    left: 0;
    top: 165px;
    opacity: 11%;

    mix-blend-mode: normal;
    transform: matrix(-1, 0, 0, 1, 0, 0);

    mask-image: linear-gradient(to bottom, transparent 10%, black);
}

header {

    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: flex-start;
    height: 350px;
}

.name {
    position: relative;               /* 2 */
    top: 50%;                         /* 3 */
    transform: translate(0, -50%);   /* 4 */

    margin-right: auto;
    flex-shrink: 0;
    line-height: 0.9;
    width: 80%;
    max-width: 1200px;
}

h4 {
    position: relative;
    width: 100%;
    padding-left: 50px;
    margin-top: 70px;
    font-family: Montserrat, sans-serif;
    color: white;
    font-variant: small-caps;
    font-size: 105px;
}

.logo {
    flex-shrink: 0;
    margin-left: auto;
    margin-top: 50px;
    padding-left: 50px;
    width: 250px;
    height: 210px;
    user-select: none;
}

.text1 {
    position: relative;
    width: 80%;
    height: 70px;
    left: 15%;
    top: 30%;
}

p {
    animation: 1s ease-out 0s 1 onLoadAppear;

    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 17px;
    color: #FFFFFF;
}

h3 {
    animation: 1s ease-out 0s 1 onLoadAppear;

    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 29px;

    color: #FFFFFF;
}

.league {
    position: relative;
    width: 80%;
    height: 228px;
    left: 15%;
    top: 100px;
    user-select: none;

}

.league_button {
    animation: 1s ease-out 0s 1 onLoadAppear;
    cursor: pointer;

    margin-left: 50px;

    filter: drop-shadow(8px 10px 7px rgba(0, 0, 0, 0.25)) saturate(0%);
    transition: filter 0.5s;
}

.league_button:hover {
    filter: drop-shadow(8px 10px 7px rgba(0, 0, 0, 0.25)) saturate(100%);
}

#KHL {
    margin-right: 50px;
    margin-bottom: 20px;
}

#NHL {
    margin-right: 50px;
    margin-bottom: 20px;
}

.container {
    height: 100px;
}