.sidebarRight li {
    width: 80px;
    user-select: none;
}

#match_stats th {
    width: 100px;
}


.teams {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.teams p {
    font-family: Montserrat, sans-serif;
    margin: 5px 0;
}

.teams h4 {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
}

.team1_info {
    width: 340px;
    text-align: right;
}

.team2_info {
    width: 340px;
    text-align: left;
}

.leagueLogo {
    margin-right: 0;
}

#team_logo {
    width: 190px;
    margin: 20px 10px;
}

.score {
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding: 0 20px;
    white-space: nowrap;
}

.score p {
    color: white;
}

#score_time {
    font-family: avalorsregular, sans-serif;
    font-size: 60px;
    font-weight: normal;
    padding-top: 30px;
}

.arena {
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: normal;
}

#arena {
    color: #847c7c;
}

#viewers {
    color: #847c7c;
}

#score_by_period {
    word-spacing: 0.5em;
}

.lastMatches {
    display: flex;
    justify-content: space-between;
}


.teams h4 {
    transition: color 0.2s;
}

.teams h4:hover {
    color: #6393ff;
    transition: color 0.2s;
}

.match_stats {
    text-align: center;
    margin-bottom: 50px;
}

.stat_lines {
    display: flex;
    justify-content: center;
    margin-top: -7px;
    margin-bottom: 7px;
}

.match_stat_text {
    width: 30px;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    margin: 0 15px;
}

.progress_right {
    margin: 10px 5px;
    width: 100%;
    max-width: 560px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    overflow: hidden;
    display: flex;
    justify-content: left;
    background-size: 300% 100%;
    animation: progress-animation 2s linear infinite;
}

.progress_left {
    margin: 10px 5px;
    width: 100%;
    max-width: 560px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    overflow: hidden;
    display: flex;
    justify-content: right;
    background-size: 300% 100%;
    animation: progress-animation 2s linear infinite;
}

  .progress-bar_right {
      display: block;
      height: 100%;
      background: #d93131;
      background-size: 300% 100%;
  }

  .progress-bar_left {
      display: block;
      height: 100%;
      background: #4c8cd5;
      background-size: 300% 100%;
  }