* {
    color: #847c7c;
}

@keyframes onLoadAppear {
  0% {
    transform: translateY(3%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

header {
    width: 1475px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

h4 {
    padding: 50px 30px 0 30px;
    margin: 30px 80px 0 0;
    font-family: Montserrat, sans-serif;
    color: white;
    font-variant: small-caps;
    font-size: 45px;
}

nav {
    z-index: 1;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 0;
    font-family: Montserrat, sans-serif;
}

nav a {
    padding: 5px;
    color: #d9d2d2;
}

nav a:hover {
    padding: 4px;
    border: solid 1px #FFFFFF33;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #162447 repeat;

}

.background_image {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 11%;
    min-width: 1475px;
    max-height: 900px;
}

.logo {
    width: 120px;
    height: 100px;
    opacity: 100%;
    margin-left: auto;
}

.leagueLogo {
    width: 150px;
    height: 150px;
    opacity: 100%;
    margin-right: auto;
}

a {
    text-decoration: none
}

li {
    list-style-type: none;
    border: solid 1px #FFFFFF33;

    color: #d9d2d2;
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-size: 16px;
    margin: 3px;
    padding: 3px;
    width: 50px;
}

li:hover {
    background-color: #47639f;
}

h3 {
    animation: 1s ease-out 0s 1 onLoadAppear;

    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 29px;
    margin-bottom: 10px;

    color: #FFFFFF;
}

.update {
    font-family: Montserrat, sans-serif;
    margin: 5px;
}

.wrapper {

    margin: auto;
    display: flex;
    flex-direction: row;
}

.container {
    flex-shrink: 1;
    margin-right: auto;
    margin-left: 10px;
}

.sidebarLeft {
    flex-shrink: 1;
    width: 100px;
    z-index: 1;
    margin-top: 80px;
    margin-right: 10px;
    margin-left: auto;
}

.sidebarRight {
    flex-shrink: 1;
    width: 100px;
    z-index: 1;
    margin-top: 80px;
    margin-left: 10px;
}

.sidebarLeft p {
    font-family: Montserrat, sans-serif;
    padding-left: 30px;

}

table {
    animation: 0.5s ease-out 0s 1 onLoadAppear;
    backdrop-filter: blur(5px);

    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
  background-color: rgba(255, 255, 255, 0.2);
  color: #d9d2d2;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    border: solid 1px #FFFFFF33;
    padding: 3px;
}

th {
  text-align: center;
  background-color: #47639f;
    cursor: pointer;
}

tr:hover {
  background-color: rgba(218, 5, 5, 0.3);
}

th.sorted[data-order="1"],
th.sorted[data-order="-1"] {
    background-color: #2651a2;
}

footer {
    display: flex;
    width: 1475px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-color: #FFFFFF33;
    border-top-style: solid;
    border-width: 1px;
}

footer div {
    margin: auto;
    padding: 10px
}

footer div a {
    padding: 10px 30px;
}