.charts {
    backdrop-filter: blur(5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.sidebarRight li {
    width: 80px;
    user-select: none;
}


.header_title {
    text-align: right;
    margin-top: -30px;
    margin-right: 0;
}

.header_city {
    text-align: right;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    margin-right: 30px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.leagueLogo {
    margin-top: -60px;
    height: 300px;
    margin-right: -20px;
}

h3 a {
    color: #FFFFFF;
}


.lastMatches {
    min-width: 1364px;
    display: flex;
    justify-content: space-between;
}

.lastMatches .team1 {
    text-align: right;
}

.lastMatches .team2 {
    text-align: left;
}

.lastMatches .match {
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border-color: #FFFFFF33;
    border-style: solid;
    border-width: 1px;
    margin: 10px 15px;
    text-align: center;
    display: flex;
    justify-content: center;

    width: 650px;
}

.teams h4 {
    transition: color 0.2s;
}

.teams h4:hover {
    color: #6393ff;
    transition: color 0.2s;
}

.match a {
    color: #FFFFFF;
    transition: color 0.2s;
}

.match a:hover {
    color: #6393ff;
    transition: color 0.2s;
}

.match .team_left {
    color: #FFFFFF;
    display: flex;
    width: 100%;
    margin-right: auto;
    text-align: right;
    align-self: center;
    align-items: center;
    justify-content: right;
}
.match .team_right {
    color: #FFFFFF;
    display: flex;
    width: 100%;
    margin-left: auto;
    text-align: left;
    align-self: center;
    align-items: center;
    justify-content: left;
}

.match .match_info {
    width: 210px;
}

.match .last_logo {
    width: 100px;
    height: 100px;
    margin: 0 10px;
}

.match_info p {
    color: #FFFFFF;
    margin-top: 10px;
}

.last_score {
    color: #FFFFFF;
    font-size: 25px;
    font-family: Avalors, sans-serif;
}

.last_score:hover {
    color: #6393ff;
    transition: color 0.2s;
}