CREATE ROLE {{ env.DB_USER }} WITH
  LOGIN
  SUPERUSER
  INHERIT
  CREATEDB
  CREATEROLE
  NOREPLICATION
  PASSWORD '{{ env.DB_PASSWORD }}';

CREATE DATABASE {{ env.DB_NAME }};
GRANT ALL PRIVILEGES ON DATABASE {{ env.DB_NAME }} TO {{ env.DB_USER }};