/* общий цвет текста */
* {
    color: #847c7c;
}

/* цвет заголовков */
h4 {
    color: white;
}

/* цвет текста ссылок в навбаре */
nav a {
    color: #d9d2d2;
}


/* цвет фона */
.background {
    background: #162447 repeat;
}

/* цвет текста в сайдбарах */
li {
    color: #d9d2d2;
}

/* цвет фона в сайдбарах при наведении */
li:hover {
    background-color: #47639f;
}

/* цвет заголовков второго уровня (номер сезона в календаре и т.д.) */
h3 {
    color: #FFFFFF;
}

/* цвет названия команды при наведении */
.teams h4:hover {
    color: #6393ff;
    transition: color 0.2s;
}

/* цвет фона и текста в таблице */
td {
    background-color: rgba(255, 255, 255, 0.2);
    color: #d9d2d2;
}

/* цвет фона и текста столбца команды в таблице при наведении */
.urlToTeam:hover {
    background-color: rgba(213, 37, 37, 0.3);
	color: #ffffff;
}

/* цвет фона заголовков в таблице */
th {
  background-color: #47639f;
}

/* цвет строки при наведении в таблице */
tr:hover {
    background-color: rgba(218, 5, 5, 0.3);
    transition: none;
}

/* цвет фона заголовка в таблице, по которому выполнена сортировка */
th.sorted[data-order="1"],
th.sorted[data-order="-1"] {
    background-color: #2651a2;
}


/* цвет границы футера */
footer {
    border-color: #FFFFFF33;
}


/* match frames */

/* цвет фона и границы рамки матча */
.lastMatches .match {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: #FFFFFF33;
}

/* цвет текста команд в рамке матча */
.match a {
    color: #FFFFFF;
}

/* цвет фона рамки матча при наведении */
.match:hover {
    background-color: rgba(132, 169, 255, 0.42);
}

/* цвет текста команд в рамке матча при наведении */
.match a:hover {
    color: #6393ff;
}

/* цвет текста даты и счета по периодам в центре рамки матча */
.match_info p {
    color: #FFFFFF;
}

/* цвет текста счета и времени в рамке матча */
p.last_score {
    color: #FFFFFF;
}

/* цвет текста надписи "Отменен" */
#postponed {
    color: #ff0000;
}

/* bar stats */

/* цвет текста в статистике матча */
.match_stat_text {
    color: #ffffff;
}

/* цвет бэкграунда правой полоски  */
.progress_right {
    background-color: rgba(255, 255, 255, 0.2);
}

/* цвет бэкграунда левой полоски  */
.progress_left {
    background-color: rgba(255, 255, 255, 0.2);
}

/* цвет правой полоски  */
.progress-bar_right {
    background: #d93131;
}

/* цвет левой полоски  */
.progress-bar_left {
    background: #4c8cd5;
}


/* глоссарий и тултипы */

/* цвет текста заголовков в глоссарии */
.gloss_title {
    color: white;
}

/* цвет текста описаний в глоссарии */
.gloss_value {
    color: white;
}

/* цвет текста, фона, границы тултипа */
.tooltip {
    color: rgb(255, 255, 255);
    background-color: rgb(79, 118, 196);
    border-color: #FFFFFF33;
}