{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}Сезон {{ season }} - КХЛ - flawlessanalytics{% endblock %}

{% block static %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'css/calendar.css'%}" type="text/css">
    <script>
    var season = {{ season|safe  }};
    </script>
    <script type="text/javascript" src="{% static 'js/calendar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/matchFrame.js' %}"></script>
{% endblock %}

{% block nav %}
    {{ block.super }}
    <a href="{% url 'stats' 21 %}">Сезоны</a>

{% endblock %}

{% block header_title %}
    <h4>Континентальная Хоккейная Лига</h4>
{% endblock %}

{% block right_logo %}
    <img src="/static/img/KHL.webp" alt="KHL" class="leagueLogo">
{% endblock %}

{% block left_sidebar %}
        <p>Cезоны:</p>
    <ul>
        <a href="{% url 'calendar' 17 %}"><li>17</li></a>
        <a href="{% url 'calendar' 18 %}"><li>18</li></a>
        <a href="{% url 'calendar' 19 %}"><li>19</li></a>
        <a href="{% url 'calendar' 20 %}"><li>20</li></a>
        <a href="{% url 'calendar' 21 %}"><li>21</li></a>
    </ul>
{% endblock %}

{% block right_sidebar %}
{% endblock %}

{% block main_content %}
    <h3>Сезон {{ season }}</h3>
    <div class="filter">
        <form class="form" id="calendar_filter" action="{% url 'calendar_api' %}" method="get">
            <p><label for="id_teams">Команда:</label>
                <select name="teams" id="id_teams">
                    <option value="" selected="">---------</option>
                    {% for team in teams %}
                        <option value="{{ team.id }}">{{ team.name }}</option>
                    {% endfor %}
                </select></p>
            <p><label for="id_finished">Завершенные матчи:</label>
                <select name="finished" id="id_finished">
                  <option value="" selected="">---------</option>
                  <option value="true">Да</option>
                  <option value="false">Нет</option>
                </select></p>

                <label for="id_ordering">Сортировка:</label>
                <div id="ordering-checkbox" class="ordering-checkbox" onclick="toggleOrdering()">
                    <div>Дата</div>
                </div>
                <select class="ordering-checkbox" name="ordering" id="id_ordering">
                  <option value="date">По возрастанию</option>
                  <option value="-date">По убыванию</option>
                </select>

            <button type="reset" onclick="toggleOrderingAsc()">Сбросить</button>
            <button type="submit">Применить</button>
        </form>
    </div>

    <div class="lastMatches">
        <div class="team1" id="team1">

        </div>
    </div>
{% endblock %}
