{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{{ team1_info.name }} - {{ team2_info.name }} - КХЛ - flawlessanalytics{% endblock %}

{% block static %}
{{ block.super }}
    <script>
    var team1_stats = {{ team1_info.stats|safe }};
    var team2_stats = {{ team2_info.stats|safe }};
    var team1_name = "{{ team1_info.name|safe }}";
    var team2_name = "{{ team2_info.name|safe }}";
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="{% static 'js/matchStats.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/matchStats.css'%}" type="text/css">
{% endblock %}

{% block nav %}
    {{ block.super }}
    <a href="{% url 'stats' 21 %}">Сезоны</a>
    <a href="#">Календарь</a>

{% endblock %}

{% block header_title %}
    <h4>Континентальная Хоккейная Лига</h4>
{% endblock %}

{% block right_logo %}
    <img src="/static/img/KHL.webp" alt="KHL" class="leagueLogo">
{% endblock %}

{% block left_sidebar %}
{% endblock %}

{% block right_sidebar %}
    {% if match_info.finished == True %}
    <div style="margin-top: 550px">
    {% else %}
        <div style="margin-top: 380px">
        {% endif %}
    <p>Параметры:</p>
<ul class="chartList">
    <a onclick=filterChart('chartSh') id="BchartSh"><li>Sh</li></a>
    <a onclick=filterChart('chartSog') id="BchartSog"><li>Sog</li></a>
    <a onclick=filterChart('chartG') id="BchartG"><li>G</li></a>
    <a onclick=filterChart('chartBlocks') id="BchartBlocks"><li>Blocks</li></a>
    <a onclick=filterChart('chartHits') id="BchartHits"><li>Hits</li></a>
    <a onclick=filterChart('chartPenalty') id="BchartPenalty"><li>Penalty</li></a>
    <a onclick=filterChart('chartTime_a') id="BchartTime_a"><li>TimeA</li></a>
</ul>
    </div>
{% endblock %}

{% block main_content %}
    <div class="teams">
        <div class="team1_info">
            <p class="header_city">Конференция «{{ team1_info.conference }}»</p>
            <p class="header_city">Дивизион {{ team1_info.division }}</p>
            <a href="{% url 'team' team1_info.id %}"><h4 class="header_title">{{ team1_info.name }}</h4></a>
            <p class="header_city">{{ team1_info.city }}</p>
            <p class="header_city">{{ team1_info.arena }}</p>
        </div>

        <img src="{{ team1_info.image }}" alt="KHL" class="leagueLogo" id="team_logo">

            <div class="score">
                {% language 'ru' %}
                <p class="header_city">{{ match_info.date|date:'j E Y' }}</p>
                    {% if match_info.finished == True %}
                        <p id="score_time">{{ team1_info.score }} - {{ team2_info.score }}</p>
                        <p class="arena" id="arena">{{ match_info.arena }}</p>
                        <p class="arena" id="viewers">Зрителей: {{ match_info.viewers }}</p>
                        {%  else %}
                        <p id="score_time" style="font-family: Montserrat, sans-serif; font-size: 80px;">{{ match_info.time }}</p>
                    {% endif %}
                {% endlanguage %}
            </div>

        <img src="{{ team2_info.image }}" alt="KHL" class="leagueLogo" id="team_logo">

        <div class="team2_info">
            <p class="header_city">Конференция «{{ team2_info.conference }}»</p>
            <p class="header_city">Дивизион {{ team2_info.division }}</p>
            <a href="{% url 'team' team2_info.id %}"><h4 class="header_title">{{ team2_info.name }}</h4></a>
            <p class="header_city">{{ team2_info.city }}</p>
            <p class="header_city">{{ team2_info.arena }}</p>
        </div>
    </div>

    {% if match_info.finished == True %}
    <h3>Статистика матча</h3>
    {% language 'ru' %}
    <table class="table_sort" id="match_stats">
    <thead>
        <tr>
            {% for name in match_info.match_stats.0|slice:"1:" %}
            <th>{{ name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for row in match_info.match_stats|slice:"1:" %}
        <tr>
        <td onmousedown="middleGotoTeam({{ row.0 }})" onmouseup="gotoTeam({{ row.0 }})" class="urlToTeam">{{ row.1 }}</td>
        {% for stat in row|slice:"2:" %}
            <td align="right">{{ stat }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
    </table>
    {% endlanguage %}
    {% endif %}

    <h3>Статистика команд в {{ match_info.season }} сезоне</h3>
    <table class="table_sort">
    <thead>
        <tr>
            {% for name in match_info.season_stats.0 %}
            <th>{{ name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for row in match_info.season_stats|slice:"1:" %}
        <tr>
        <td onmousedown="middleGotoTeam({{ row.0 }})" onmouseup="gotoTeam({{ row.0 }})" class="urlToTeam">{{ row.1 }}</td>
        {% for stat in row|slice:"2:" %}
            <td align="right">{{ stat }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>


    <div style="display: flex; justify-content: space-between">
        <h3 id="chartTitle1">Все броски</h3><h3 id="chartTitle2">Sh</h3>
    </div>

    <div id="chartSh" class="charts"></div>
    <div id="chartSog" class="charts"></div>
    <div id="chartG" class="charts"></div>
    <div id="chartBlocks" class="charts"></div>
    <div id="chartHits" class="charts"></div>
    <div id="chartPenalty" class="charts"></div>
    <div id="chartTime_a" class="charts"></div>

    <h3>Последние матчи</h3>
    <div class="lastMatches">
        <div class="team1">
        {% for key, value in team1_info.items %}
            {% if key == 'last_matches' %}
            {% for match_id, match_stats in value.items %}
                <a href="{% url 'match' match_id %}"><div class="match">
                    <div class="team_left">
                        <a href="{% url 'team' match_stats.team1_id %}">{{ match_stats.team1_name }}</a>
                        <a href="{% url 'team' match_stats.team1_id %}"><img src="{{ match_stats.team1_image }}" alt="{{ match_stats.team1_name }}" class="last_logo"></a>
                    </div>
                    <div class="match_info">
                        {% language 'ru' %}
                        <p>{{ match_stats.date|date:'j.m.Y' }}</p>
                        <a href="{% url 'match' match_id %}"><p class="last_score">{{ match_stats.team1_score }} - {{ match_stats.team2_score }}</p></a>
                        {% endlanguage %}
                    </div>
                    <div class="team_right">
                        <a href="{% url 'team' match_stats.team2_id %}"><img src="{{ match_stats.team2_image }}" alt="{{ match_stats.team2_name }}" class="last_logo"></a>
                        <a href="{% url 'team' match_stats.team2_id %}">{{ match_stats.team2_name }}</a>
                    </div>
                </div></a>
            {% endfor %}
            {% endif %}
        {% endfor %}
        </div>
        <div class="team2">
        {% for key, value in team2_info.items %}
            {% if key == 'last_matches' %}
            {% for match_id, match_stats in value.items %}
                <a href="{% url 'match' match_id %}"><div class="match">
                    <div class="team_left">
                        <a href="{% url 'team' match_stats.team1_id %}">{{ match_stats.team1_name }}</a>
                        <a href="{% url 'team' match_stats.team1_id %}"><img src="{{ match_stats.team1_image }}" alt="{{ match_stats.team1_name }}" class="last_logo"></a>
                    </div>
                    <div class="match_info">
                        {% language 'ru' %}
                        <p>{{ match_stats.date|date:'j.m.Y' }}</p>
                        <a href="{% url 'match' match_id %}"><p class="last_score">{{ match_stats.team1_score }} - {{ match_stats.team2_score }}</p></a>
                        {% endlanguage %}
                    </div>
                    <div class="team_right">
                        <a href="{% url 'team' match_stats.team2_id %}"><img src="{{ match_stats.team2_image }}" alt="{{ match_stats.team2_name }}" class="last_logo"></a>
                        <a href="{% url 'team' match_stats.team2_id %}">{{ match_stats.team2_name }}</a>
                    </div>
                </div></a>
            {% endfor %}
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock %}