{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{{ team }} - flawlessanalytics{% endblock %}

{% block static %}
{{ block.super }}
    <script>
    var stats = {{ stats|safe }};
    var last_matches = {{ last_matches|safe }};
    var future_matches = {{ future_matches|safe }};
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="{% static 'js/statCharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/matchFrame.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/teamStats.css'%}" type="text/css">
{% endblock %}

{% block nav %}
    {{ block.super }}
    <a href="{% url 'stats' season %}">Сезоны</a>
    <a href="{% url 'calendar' season %}">Календарь</a>

{% endblock %}

{% block header_title %}
    <p class="header_city">Конференция «{{ conference }}»</p>
    <p class="header_city">Дивизион {{ division }}</p>
    <h4 class="header_title">{{ team }}</h4>
    <p class="header_city">{{ city }}</p>
    <p class="header_city">{{ arena }}</p>
{% endblock %}

{% block right_logo %}
    <img src="{{ logo }}" alt="KHL" class="leagueLogo">
{% endblock %}

{% block left_sidebar %}
    <p>Сезоны:</p>
<ul class="chartList">
    {% for season in seasons %}
        <a href="{% url 'team' season.id %}"><li>{{ season.season }}</li></a>
    {% endfor %}
</ul>
{% endblock %}

{% block right_sidebar %}
    <p>Параметры:</p>
<ul class="chartList">
    <a onclick=filterChart('chartSh') id="BchartSh"><li>Sh</li></a>
    <a onclick=filterChart('chartSog') id="BchartSog"><li>Sog</li></a>
    <a onclick=filterChart('chartG') id="BchartG"><li>G</li></a>
    <a onclick=filterChart('chartBlocks') id="BchartBlocks"><li>Blocks</li></a>
    <a onclick=filterChart('chartHits') id="BchartHits"><li>Hits</li></a>
    <a onclick=filterChart('chartPenalty') id="BchartPenalty"><li>Penalty</li></a>
    <a onclick=filterChart('chartTime_a') id="BchartTime_a"><li>TimeA</li></a>
</ul>
{% endblock %}

{% block main_content %}
<h3><a href="{% url 'stats' season %}">СЕЗОН {{ season }}</a></h3>
<p class="update">Континентальная хоккейная лига</p>
    <div id="chartSh" class="charts"></div>
    <div id="chartSog" class="charts"></div>
    <div id="chartG" class="charts"></div>
    <div id="chartBlocks" class="charts"></div>
    <div id="chartHits" class="charts"></div>
    <div id="chartPenalty" class="charts"></div>
    <div id="chartTime_a" class="charts"></div>

    <div style="display: flex; justify-content: space-between">
        <h3>Последние матчи</h3><h3>Ближайшие матчи</h3>
    </div>

    <div class="lastMatches">
        <div class="team1" id="team1">

        </div>
        <div class="team2" id="team2">

        </div>
    </div>

{% endblock %}
