{% extends "base.html" %}

{% block title %}KHL Stats{% endblock %}

{% block header_title %}
    <h4>Континентальная Хоккейная Лига</h4>
{% endblock %}

{% block right_logo %}
    <img src="/static/img/KHL.png" alt="KHL" class="leagueLogo">
{% endblock %}

{% block left_sidebar %}
    <p>Cезоны:</p>
    <ul>
        <a href="/khl/stats/17"><li>17</li></a>
        <a href="/khl/stats/18"><li>18</li></a>
        <a href="/khl/stats/19"><li>19</li></a>
        <a href="/khl/stats/20"><li>20</li></a>
        <a href="/khl/stats/21"><li>21</li></a>
    </ul>
{% endblock %}

{% block main_content %}
<h3>СЕЗОН {{ season }}</h3>
<p class="update">Последнее обновление: {{ update }}</p>
<table class="table_sort">
    <thead>
        <tr>
            {% for name in stats.0 %}
            <th>{{ name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for row in stats|slice:"1:" %}
        <tr>
        <td onmousedown="middleGotoTeam({{ row.0 }})" onmouseup="gotoTeam({{ row.0 }})" class="urlToTeam">{{ row.1 }}</td>
        {% for stat in row|slice:"2:" %}
            <td align="right">{{ stat }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
