{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{{ team }} - flawlessanalytics{% endblock %}

{% block static %}
{{ block.super }}
    <script>
    var stats = {{ stats|safe }};
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="{% static 'js/statCharts.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/teamStats.css'%}" type="text/css">
{% endblock %}

{% block nav %}
    {{ block.super }}
    <a href="{% url 'stats' season %}">Сезоны</a>

{% endblock %}

{% block header_title %}
    <p class="header_city">Конференция «{{ conference }}»</p>
    <p class="header_city">Дивизион {{ division }}</p>
    <h4 class="header_title">{{ team }}</h4>
    <p class="header_city">{{ city }}</p>
    <p class="header_city">{{ arena }}</p>
{% endblock %}

{% block right_logo %}
    <img src="{{ logo }}" alt="KHL" class="leagueLogo">
{% endblock %}

{% block left_sidebar %}
    <p>Сезоны:</p>
<ul class="chartList">
    {% for season in seasons %}
        <a href="{% url 'team' season.id %}"><li>{{ season.season }}</li></a>
    {% endfor %}
</ul>
{% endblock %}

{% block right_sidebar %}
    <p>Параметры:</p>
<ul class="chartList">
    <a onclick=filterChart('chartSh') id="BchartSh"><li>Sh</li></a>
    <a onclick=filterChart('chartSog') id="BchartSog"><li>Sog</li></a>
    <a onclick=filterChart('chartG') id="BchartG"><li>G</li></a>
    <a onclick=filterChart('chartBlocks') id="BchartBlocks"><li>Blocks</li></a>
    <a onclick=filterChart('chartHits') id="BchartHits"><li>Hits</li></a>
    <a onclick=filterChart('chartPenalty') id="BchartPenalty"><li>Penalty</li></a>
    <a onclick=filterChart('chartTime_a') id="BchartTime_a"><li>TimeA</li></a>
</ul>
{% endblock %}

{% block main_content %}
<h3><a href="{% url 'stats' season %}">СЕЗОН {{ season }}</a></h3>
<p class="update">Континентальная хоккейная лига</p>
    <div id="chartSh" class="charts"></div>
    <div id="chartSog" class="charts"></div>
    <div id="chartG" class="charts"></div>
    <div id="chartBlocks" class="charts"></div>
    <div id="chartHits" class="charts"></div>
    <div id="chartPenalty" class="charts"></div>
    <div id="chartTime_a" class="charts"></div>

    <div style="display: flex; justify-content: space-between">
        <h3>Последние матчи</h3><h3>Ближайшие матчи</h3>
    </div>

    <div class="lastMatches">
        <div class="team1">
            {% for match_id, match_stats in last_matches.items %}
                <a href="{% url 'match' match_id %}"><div class="match">
                    <div class="team_left">
                        <a href="{% url 'team' match_stats.team1_id %}">{{ match_stats.team1_name }}</a>
                        <a href="{% url 'team' match_stats.team1_id %}"><img src="{{ match_stats.team1_image }}" alt="{{ match_stats.team1_name }}" class="last_logo"></a>
                    </div>
                    <div class="match_info">
                        {% language 'ru' %}
                        <p>{{ match_stats.date|date:'j.m.Y' }}</p>
                        <a href="{% url 'match' match_id %}"><p class="last_score">{{ match_stats.team1_score }} - {{ match_stats.team2_score }}</p></a>
                        {% endlanguage %}
                    </div>
                    <div class="team_right">
                        <a href="{% url 'team' match_stats.team2_id %}"><img src="{{ match_stats.team2_image }}" alt="{{ match_stats.team2_name }}" class="last_logo"></a>
                        <a href="{% url 'team' match_stats.team2_id %}">{{ match_stats.team2_name }}</a>
                    </div>
                </div></a>
            {% endfor %}
        </div>
        <div class="team2">
            {% for match_id, match_stats in future_matches.items %}
                <a href="{% url 'match' match_id %}"><div class="match">
                    <div class="team_left">
                        <a href="{% url 'team' match_stats.team1_id %}">{{ match_stats.team1_name }}</a>
                        <a href="{% url 'team' match_stats.team1_id %}"><img src="{{ match_stats.team1_image }}" alt="{{ match_stats.team1_name }}" class="last_logo"></a>
                    </div>
                    <div class="match_info">
                        {% language 'ru' %}
                        <p>{{ match_stats.date|date:'j.m.Y' }}</p>
                        <a href="{% url 'match' match_id %}"><p class="last_score">{{ match_stats.time }}</p></a>
                        {% endlanguage %}
                    </div>
                    <div class="team_right">
                        <a href="{% url 'team' match_stats.team2_id %}"><img src="{{ match_stats.team2_image }}" alt="{{ match_stats.team2_name }}" class="last_logo"></a>
                        <a href="{% url 'team' match_stats.team2_id %}">{{ match_stats.team2_name }}</a>
                    </div>
                </div></a>
            {% endfor %}
        </div>
    </div>

{% endblock %}