{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}Сезон {{ season }} - КХЛ - flawlessanalytics{% endblock %}

{% block static %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'css/calendar.css'%}" type="text/css">
{% endblock %}

{% block nav %}
    {{ block.super }}
    <a href="{% url 'stats' 21 %}">Сезоны</a>

{% endblock %}

{% block header_title %}
    <h4>Континентальная Хоккейная Лига</h4>
{% endblock %}

{% block right_logo %}
    <img src="/static/img/KHL.webp" alt="KHL" class="leagueLogo">
{% endblock %}

{% block left_sidebar %}
        <p>Cезоны:</p>
    <ul>
        <a href="{% url 'calendar' 17 %}"><li>17</li></a>
        <a href="{% url 'calendar' 18 %}"><li>18</li></a>
        <a href="{% url 'calendar' 19 %}"><li>19</li></a>
        <a href="{% url 'calendar' 20 %}"><li>20</li></a>
        <a href="{% url 'calendar' 21 %}"><li>21</li></a>
    </ul>
{% endblock %}

{% block right_sidebar %}
{% endblock %}

{% block main_content %}
    <h3>Сезон {{ season }}</h3>
    <h3>Все матчи</h3>
    <div class="lastMatches">
        <div class="team1">
            {% for match_id, match_stats in finished_matches.items %}
                <a href="{% url 'match' match_id %}"><div class="match">
                    <div class="team_left">
                        <a href="{% url 'team' match_stats.team1_id %}">{{ match_stats.team1_name }}</a>
                        <a href="{% url 'team' match_stats.team1_id %}"><img src="{{ match_stats.team1_image }}" alt="{{ match_stats.team1_name }}" class="last_logo"></a>
                    </div>
                    <div class="match_info">
                        {% language 'ru' %}
                        <p>{{ match_stats.date|date:'j.m.Y' }}</p>
                        <a href="{% url 'match' match_id %}"><p class="last_score">{{ match_stats.team1_score }} - {{ match_stats.team2_score }}</p></a>
                        {% endlanguage %}
                    </div>
                    <div class="team_right">
                        <a href="{% url 'team' match_stats.team2_id %}"><img src="{{ match_stats.team2_image }}" alt="{{ match_stats.team2_name }}" class="last_logo"></a>
                        <a href="{% url 'team' match_stats.team2_id %}">{{ match_stats.team2_name }}</a>
                    </div>
                </div></a>
            {% endfor %}
            {% for match_id, match_stats in unfinished_matches.items %}
                <a href="{% url 'match' match_id %}"><div class="match">
                    <div class="team_left">
                        <a href="{% url 'team' match_stats.team1_id %}">{{ match_stats.team1_name }}</a>
                        <a href="{% url 'team' match_stats.team1_id %}"><img src="{{ match_stats.team1_image }}" alt="{{ match_stats.team1_name }}" class="last_logo"></a>
                    </div>
                    <div class="match_info">
                        {% language 'ru' %}
                        <p>{{ match_stats.date|date:'j.m.Y' }}</p>
                        <a href="{% url 'match' match_id %}"><p class="last_score">{{ match_stats.team1_score }} - {{ match_stats.team2_score }}</p></a>
                        {% endlanguage %}
                    </div>
                    <div class="team_right">
                        <a href="{% url 'team' match_stats.team2_id %}"><img src="{{ match_stats.team2_image }}" alt="{{ match_stats.team2_name }}" class="last_logo"></a>
                        <a href="{% url 'team' match_stats.team2_id %}">{{ match_stats.team2_name }}</a>
                    </div>
                </div></a>
            {% endfor %}
        </div>
    </div>
{% endblock %}