<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KHL Stats</title>
</head>
<body>
<p>Cезоны:</p>
<a href="/khl/stats/17">17</a>,
<a href="/khl/stats/18">18</a>,
<a href="/khl/stats/19">19</a>,
<a href="/khl/stats/20">20</a>,
<a href="/khl/stats/21">21</a>
<p>Последнее обновление: {{ update }}</p>
<p><a href="/khl/update/protocol">Обновить данные</a></p>
<table border="1", cellpadding="5">
    <tr>
        {% for name in stats.0 %}
        <th>{{ name }}</th>
        {% endfor %}
    </tr>
    {% for row in stats|slice:"1:" %}
        <tr>
        {% for stat in row %}
            <td align="right">{{ stat }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
</table>
</body>
</html>