{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}Сезон {{ season }} - {{ title }} - flawlessanalytics{% endblock %}

{% block static %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'css/calendar.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static theme %}" type="text/css">
    <script>
    var season = {{ season|safe  }};
    </script>
    <script type="text/javascript" src="{% static 'js/calendar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/matchFrame.js' %}"></script>
{% endblock %}

{% block nav %}
    {{ block.super }}
    <a href="{{ url_stats }}{{ season }}">Сезоны</a>

{% endblock %}

{% block header_title %}
    <h4>{{ league_title }}</h4>
{% endblock %}

{% block right_logo %}
    <img src="{{ league_logo }}" alt="KHL" class="leagueLogo">
{% endblock %}

{% block left_sidebar %}
        <p>Cезоны:</p>
    <ul>
        {% for season in season_list %}
            <a href="{{ url_calendar }}{{ season }}"><li>{{ season }}</li></a>
        {% endfor %}
    </ul>
{% endblock %}

{% block right_sidebar %}
{% endblock %}

{% block main_content %}
    <h3>Сезон {{ season }}</h3>
    <div class="filter">
        <form class="form" id="calendar_filter" action="{% url 'calendar_api' %}" method="get">
            <p><label for="id_teams">Команда:</label>
                <select name="teams" id="id_teams">
                    <option value="" selected="">---------</option>
                    {% for team in teams %}
                        <option value="{{ team.id }}">{{ team.name }}</option>
                    {% endfor %}
                </select></p>
            <p><label for="id_status">Статус матча:</label>
                <select name="status" id="id_status">
                  <option value="" selected="">---------</option>
                  <option value="scheduled">Запланирован</option>
                  <option value="finished">Завершен</option>
                  <option value="postponed">Отменен</option>
                </select></p>

                <label for="id_ordering">Сортировка:</label>
                <div id="ordering-checkbox" class="ordering-checkbox" onclick="toggleOrdering()">
                    <div>Дата</div>
                </div>
                <select class="ordering-checkbox" name="ordering" id="id_ordering">
                  <option value="date">По возрастанию</option>
                  <option value="-date">По убыванию</option>
                </select>

            <button type="reset" onclick="toggleOrderingAsc()">Сбросить</button>
            <button type="submit">Применить</button>
        </form>
    </div>

    <div class="lastMatches">
        <div class="team1" id="team1">

        </div>
    </div>
{% endblock %}
