{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{{ team.name }} - flawlessanalytics{% endblock %}

{% block static %}
{{ block.super }}
    <script>
    var stats = {{ stats|safe }};
    var left_matches = {{ last_matches|safe }};
    var right_matches = {{ future_matches|safe }};
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="{% static 'js/statCharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/matchFrame.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/teamStats.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static theme %}" type="text/css">
{% endblock %}

{% block nav %}
    {{ block.super }}
    <a href="{{ url_stats }}{{ team.season_id }}">Сезоны</a>
    <a href="{{ url_calendar }}{{ team.season_id }}">Календарь</a>

{% endblock %}

{% block header_title %}
    <p class="header_city">Конференция «{{ team.conference }}»</p>
    <p class="header_city">Дивизион {{ team.division }}</p>
    <h4 class="header_title">{{ team.name }}</h4>
    <p class="header_city">{{ team.city }}</p>
    <p class="header_city">{{ team.arena }}</p>
{% endblock %}

{% block right_logo %}
    <img src="{{ team.img }}" alt="KHL" class="leagueLogo">
{% endblock %}

{% block left_sidebar %}
    <p>Сезоны:</p>
<ul class="chartList">
    {% for season in seasons %}
        <a href="{{ url_team }}{{ season.id }}"><li>{{ season.season }}</li></a>
    {% endfor %}
</ul>
{% endblock %}

{% block right_sidebar %}

<ul class="chartList" id="chartList">
</ul>

{% endblock %}

{% block main_content %}
    <span id="chart-stat_left"></span>
    <span id="chart-stat_right"></span>
<h3><a href="{{ url_stats }}{{ team.season_id }}">СЕЗОН {{ team.season_id }}</a></h3>
<p class="update">{{ league_title }}</p>
    <div id="chart" class="charts"></div>
    <div id="chartSh" class="charts"></div>
    <div id="chartSog" class="charts"></div>
    <div id="chartG" class="charts"></div>
    <div id="chartBlocks" class="charts"></div>
    <div id="chartHits" class="charts"></div>
    <div id="chartPenalty" class="charts"></div>
    <div id="chartTime_a" class="charts"></div>

    <div id="matchTitles" style="display: flex; justify-content: space-between">
        <h3 id="LastMatchesTitle">Последние матчи</h3>
        <h3 id="FutureMatchesTitle">Ближайшие матчи</h3>
    </div>

    <div class="lastMatches">
        <div class="team1" id="team1">

        </div>
        <div class="team2" id="team2">

        </div>
    </div>

{% endblock %}
