<!-- тут будет текст сообщений -->
<body style="background: black; color: #858585">
    <div id=messages>/</div>
</body>



<script>
    let protocol = 'ws';
    if (window.location.protocol === 'https') {
        protocol = 'wss'
        }

    // открытие соединения с вебсокетом
    const updatews = new WebSocket(
        `${protocol}://${window.location.host}/ws/update_protocol`
    )

    // функция добавления сообщения
    const addUpdateStatus = (message) => {
        document.getElementById('messages').innerHTML =
        document.getElementById('messages').innerHTML + `
        ${message}<br>
        `
        window.scrollTo(0,document.body.scrollHeight);
    }

    updatews.onopen = (event_) => {
        addUpdateStatus('connected to websocket')
    }

    // событие при получении сообщения из вебсокета
    updatews.onmessage = (event_) => {
        const message = event_.data
        addUpdateStatus(message)
    }

    // событие при закрытии соединения
    updatews.onclose = (event_) => {
        addUpdateStatus('update socket close')
        console.error('update socket close')
    }
</script>